<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    {% include nav.html %}

    <div>
		<script>
		  (function() {
		    var cx = '004361245799766938859:8aznue4utv4';
		    var gcse = document.createElement('script');
		    gcse.type = 'text/javascript';
		    gcse.async = true;
		    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
		        '//cse.google.com/cse.js?cx=' + cx;
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(gcse, s);
		  })();
		</script>
		<gcse:search></gcse:search>
	</div> 

    {{ content }}

    {% include footer.html %}

</body>

</html>
